<% include partials/header %>
	<div class="fullscreen-bg">
    	<video loop muted autoplay poster="/img/videoframe.jpg" class="fullscreen-bg__video">
        	<source src="/video/luxx.mp4" type="video/mp4">
    	</video>
	</div>

	<div class="container" id="shadow">
	<form id="form">
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form>
	</div>

<% include partials/footer %>