<% include partials/header %>
	<div class="fullscreen-bg">
    	<video loop muted autoplay poster="/img/videoframe.jpg" class="fullscreen-bg__video">
        	<source src="/video/luxx.mp4" type="video/mp4">
    	</video>
	</div>

	<div class="container" id="jumbotron">
		<div class="jumbotron">
			<h1>Thank you!</h1>
			<p>We will be in touch as soon as we can.</p>
		</div>
	</div>

<% include partials/footer %>